@include below-sm() {

  #introduction {

    text-align: center;

    // #introduction img
    img {
      float: none;
      margin-right: 0;
    }

  }

}

#introduction {
  // #introduction .introduction-blur
  .introduction-blur {
    position: absolute;
    left: 0;
    z-index: 0;

    width: 182px;
    filter: blur(3px);

    @include below-sm() {
      & {
        left: auto;
      }
    }
  }

  // #introduction .normal-img
  .normal-img {
    position: relative;
    left: 1px;
    top: 1px;

    z-index: 95;
  }
}